<!-- Upload images -->
<label class="custom-file">
  <input type="file" id="file2" class="custom-file-input" (change)="onFileUpload($event)"
  name="images" multiple
  placeholder="Upload file" accept="image/*">
  <span class="custom-file-control"></span>
</label>
<br>
<small class="form-text text-muted">Image should have exact dimension of {{dimensionWidth}}x{{dimensionHeight}} (width/height)</small>
<small class="form-text text-muted">Max size of each image is 100MB</small>
<br>

<!-- Image preview -->
<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-4_M" *ngFor="let image of imagesInput">
      <div class="card" [ngClass]="{'bg-danger': !image.isValid}">              
        <img class="card-img-top" [src]="image.src" alt="uploaded image">
        <div class="card-body">
          <button type="button" *ngIf="!image.isMain" class="btn btn-info btn-sm btn-sm_M" (click)="onMakeMainImage(image.file, image.itemImageId)">Make main</button>
          <button type="button" *ngIf="image.isMain" class="btn btn-success btn-sm btn-sm_M">Main image</button>  
          <i class="fa fa-trash" aria-hidden="true" (click)="onDeleteImage(image.file, image.itemImageId)"></i>
          <span>{{image.sizeName}}</span>
          <span *ngIf="image.size > maxFileSize" class="text-light">Size exceeded!</span>
          <span *ngIf="image.width != dimensionWidth || image.height != dimensionHeight" class="text-light">Dimension incorrect!</span>
        </div>
      </div>
    </div>
  </div>
</div>