<div *ngIf="itemView" class="container itemViewBox_M">
    <div class="row">

        <div class="col-md">
            <app-item-images-box [input]="itemView.itemImages"></app-item-images-box>
        </div>
        
        <div class="col-md item_M">
            <p><b>Name: </b>{{itemView.item.name}}</p>
            <p><b>Description: </b>{{itemView.item.description}}</p>
            <p><b>Gender: </b>{{itemView.item.genderName}}</p>
            <p><b>Category: </b>{{itemView.item.categoryName}}</p>
            <p><b>Brand: </b>{{itemView.item.brandName}}</p>
            <p><b>Price: </b>{{itemView.item.price | currency}}</p>
            <p><b>Active: </b>{{itemView.item.isActive? 'yes': 'no'}}</p>
            <p><b>Last Updated By: </b>{{itemView.item.lastUpdatedByFullName}}</p>
            <p><b>Last Updated Date: </b>{{itemView.item.lastUpdatedDate | date}}</p>
            <a class="edit_M">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                <span>Edit item</span>
            </a>
            <a class="edit_M">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                <span>Edit images</span>
            </a>
            <br>
            <p><b>Color, size and quantity</b></p>
            <div class="color-size-matrix-box_M">
                    <app-color-size-matrix-box [input]="itemView.colorSizeMatrix"></app-color-size-matrix-box>
                </div>
            <a class="edit_M">
                <i class="fa fa-eye" aria-hidden="true"></i>
                <span>View details</span>
            </a>
        </div>

    </div>
</div>