<div class="wrapper_M">
  
    <h4 class="page-title_M">List of item details</h4>

    <!-- Item (single selection, dropdowns)-->
    <label class="control-title_M" for="itemsTvs">{{'item' | uppercase}}</label>
    <select id="itemsTvs" class="form-control"
    [(ngModel)]="selectedItemId"  (ngModelChange)="onReselectItemTvc($event)">
        <option *ngFor="let o of itemsTvc" [value]="o.valueStr">{{ o.text }}</option>
    </select>
    <br>
    
    <!-- Matrix + Table-->
    <app-item-details-view-box [itemIdInput]="selectedItemId"></app-item-details-view-box>   

</div>