<nav>
  <ul>
    <li>
      <ul>
        <p>Items</p>
        <li>
          <a routerLink="/item-save">Create/update item</a>
        </li>
        <li>
          <a routerLink="/item-list">View items</a>
        </li>
      </ul>
    </li>
    <li>
        <ul>
          <p>Sales</p>
          <li>
            <a routerLink="/item-list">Total Sales</a>
          </li>
          <li>
            <a routerLink="/item-list">Total inventory</a>
          </li>
          <li>
              <a routerLink="/item-list">Total Returns</a>
          </li>
          <li>
              <a routerLink="/item-list">Inventory to Sales Ratio</a>
          </li>
          <li>
              <a routerLink="/item-list">Days of Supply</a>
          </li>
        </ul>
      </li>
  </ul>

</nav>
