<form [formGroup]="itemForm" (ngSubmit)="onSave()">
  <div class="form-group form-group_M">

    <h4 class="page-title_M">{{title}}</h4>
    
    <!-- Item name  (enter) -->
    <label class="control-title_M" for="itemName">{{'name' | uppercase}}</label>
    <input type="text" id="itemName" class="form-control" placeholder="Enter item name" aria-describedby="itemNameNote" formControlName="itemName">
    <small id="itemNameNote" class="form-text text-muted">Must be unique</small>
    <div *ngIf="isShowAllValidations && !itemForm.get('itemName').valid">
        <p class="alert alert-danger validation_M" *ngIf="itemForm.get('itemName').errors['requiredWithTrim']"> * Name can't be empty</p>
        <p class="alert alert-danger validation_M" *ngIf="itemForm.get('itemName').errors['forbiddenItemName']"> * This Name already exists, please, use another</p>
        <p class="alert alert-danger validation_M" *ngIf="itemForm.get('itemName').errors['maxlength']"> * Name shouldn't exceed 50 characters</p>
    </div>
    <br>


    <!-- Item description (enter) -->
    <label class="control-title_M" for="itemDescription">{{'description' | uppercase}}</label>
    <textarea rows="4" id="itemDescription" class="form-control" placeholder="Enter item description" formControlName="itemDescription"></textarea>
    <div *ngIf="isShowAllValidations && !itemForm.get('itemDescription').valid">
        <p class="alert alert-danger validation_M" *ngIf="itemForm.get('itemDescription').errors['requiredWithTrim']"> * Description can't be empty</p>
        <p class="alert alert-danger validation_M" *ngIf="itemForm.get('itemDescription').errors['maxlength']"> * Description shouldn't exceed 2000 characters</p>
    </div>
    <br>


    <!-- Gender (single selection, radiobuttons)-->
    <app-radiobuttons-simple [input]='genders' (onSelectedOutput)="onGenderSelected($event)"></app-radiobuttons-simple>
    <p class="alert alert-danger validation_M" *ngIf="isShowAllValidations && !isGenderValid"> * Gender must be selected</p>
    <br>


    <!-- Category (single selection, dropdowns)-->
    <label class="control-title_M" for="category">{{'category' | uppercase}}</label>
    <select id="category" formControlName="category" class="form-control">
      <option value="-1" selected="selected">Select category...</option>
      <option *ngFor="let option of categories" [value]="option.valueNum">{{ option.text }}</option>
    </select>
    <div *ngIf="isShowAllValidations && !itemForm.get('category').valid">
        <p class="alert alert-danger validation_M" *ngIf="itemForm.get('category').errors['min']"> * Category must be selected</p>
    </div>
    <br>


    <!-- Brand (single selection)-->
    <label class="control-title_M" for="brand">{{'brand' | uppercase}}</label>
    <select id="brand" formControlName="brand" class="form-control">
      <option value="-1" selected="selected">Select brand...</option>
      <option *ngFor="let option of brands" [value]="option.valueNum">{{ option.text }}</option>
    </select>
    <div *ngIf="isShowAllValidations && !itemForm.get('brand').valid">
        <p class="alert alert-danger validation_M" *ngIf="itemForm.get('brand').errors['min']"> * Brand must be selected</p>
    </div>
    <br>


    <!-- Price (enter)-->
    <label class="control-title_M" for="price">{{'price' | uppercase}}</label>
    <div class="input-group">
      <span class="input-group-addon">$</span>
      <span class="input-group-addon">0.00</span>
      <input type="text" id="price" formControlName="price" class="form-control" aria-label="Amount (to the nearest dollar)">
    </div>
    <div *ngIf="isShowAllValidations && !itemForm.get('price').valid">
        <p class="alert alert-danger validation_M" *ngIf="itemForm.get('price').errors['requiredWithTrim']"> * Price can't be empty</p>
        <p class="alert alert-danger validation_M" *ngIf="itemForm.get('price').errors['pattern']"> * Only digits and one dot are allowed. Add two digits after dot.</p>
    </div>
    <br>

    <!-- Buttons - Save and Next -->
    <button type="submit" class="btn btn-success btn_M">Save</button>
    <input type="button" value="Next" class="btn btn-info btn_M" (click)="onNextClick()">
    <input type="button" value="Reset" class="btn btn-danger btn_M" (click)="onResetClick()">
    <p class="alert alert-danger validation_M" *ngIf="isShowAllValidations"> * Can't save. Please, read notifications above.</p>

    <br>
    <br>
    <br>

  </div>
</form>