ul, li, p, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding:0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.wrapper_M{
    padding: 0 20px;
}

.maxWidth_M{
    max-width: 600px;
}

p.validation_M{
    margin: 10px 0 0 0;
    padding: 0 5px;
}

div.form-group_M{
    max-width: 300px;
}

/* page title */
h4.page-title_M{
    font-weight: 700;
    padding: 20px 0;
}

/* control title */
label.control-title_M{
    font-weight: 700;
    margin:  0 0 8px 0;
    display: block;
}

/* button */
.btn_M{
    width: 90px;
}