<div *ngIf="input !== undefined">
    <h6 *ngIf="input.title !== undefined" class="title_M">{{input.title | uppercase }}</h6>
    <div [ngClass]="{box_M: input.isStyleBorder}">
        <div *ngFor="let o of input.options">
            <label class="container">
                <input type="checkbox"
                        [name]="input.uniqueId"
                        value="{{o.id}}"
                        [checked]="o.checked"
                        [(ngModel)]="o.checked"
                        (change)="onChange()"/>
                <span class="checkmark"></span>
                {{o.name}}
            </label>
        </div>
    </div>
</div>