table{
    font-size: 14px;
}

tbody{
    background-color: #fff;
}

.td-icon_M{
    text-align: center;
    font-size: 18px;
}

.td-icon_M:hover{
    cursor: pointer;
    text-shadow: 0 0 25px #000;
}
.sortable-th_M:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #000;
}
.page-current_M{
    background: rgba(23, 162, 184, 0.5);
}

.item-active-box_M{
    margin: 30px 0;
}
.item-active-box_M p{
    padding-bottom: 5px;
}
.item-active-box_M .fa{
    color: rgba(220, 53, 69, 1);
    padding-right: 5px;
}

.pagination li{
    cursor: pointer;
}