<app-item-view-box></app-item-view-box>
<p>
  В кабинете Иван долго размышлял, как  ему  поступить.  Было  три  пути.
  Первый: кинуться на все блестящие инструменты и какие-то откидные  стулья  и
  все это поломать. Второй: сейчас же все про Понтия Пилата и ужасного  убийцу
  рассказать и добиться освобождения. Но Иван был человеком с хитрецой и вдруг
  сообразил, что, пожалуй, скандалом толку не добьешься. Относительно рассказа
  тоже как-то не было уверенности, что поймут такие  тонкие  вещи  как  Понтий
  Пилат в комбинации с постным маслом таинственным убийством и прочим.
       Поэтому Иван избрал третий путь - замкнуться в гордом молчании.
       Это ему  выполнить  не  удалось,  так  как  пришлось  отвечать  на  ряд
  неприятнейших вопросов,  вроде  такого,  например,  что  не  болел  ли  Иван
  сифилисом. Иван ответил мрачно "нет" и далее отвечал "да" и "нет", подвергся
  осмотру и какому-то впрыскиванию и решил дожидаться кого-нибудь главного.
       Главного он дождался после завтрака в своей комнате.  Иван  выпил  чаю,
  без аппетита съел два яйца всмятку.
       После этого дверь в его комнату открылась и вошло очень много народу  в
  белых балахонах. Впереди шел, как предводитель, бритый, как  актер,  человек
  лет сорока с лишним, с приятными темными глазами и вежливыми манерами.
       - Доктор Стравинский, - приветливо сказал бритый, усаживаясь в креслице
  с колесиками у постели Ивана.
       - Вот, профессор, - негромко сказал один из  мужчин  в  белом  и  подал
  Иванушкин лист. "Кругом успели исписать", - подумал Иван хмуро.
       Тут Стравинский перекинулся несколькими загадочными словами  со  своими
  помощниками, причем слух Ивана, не знавшего никакого языка,  кроме  родного,
  поразило одно слово, и это слово было "фурибунда". Иван  изменился  в  лице,
  что-то стукнуло ему в голову и  вспомнились  вдруг  закат  на  Патриарших  и
  беспокойные вороны.
       Стравинский, сколько  можно  было  понять,  поставил  себе  за  правило
  соглашаться со всем, что ему говорили, и все одобрять. По крайней мере,  что
  бы ему ни говорили, он на все со светлым выражением лица  отвечал:  "Славно!
  Славно!"
       Когда ординаторы перестали бормотать, Стравинский обратился к Ивану:
       - Вы - поэт?
       - Поэт, - мрачно  ответил  Иван  и  вдруг  почувствовал  необыкновенное
  отвращение к поэзии и самые  стихи  свои,  которые  еще  недавно  ему  очень
  нравились,  вспомнил  с  неудовольствием.  В  свою   очередь,   он   спросил
  Стравинского:
       - Вы - профессор?
       Стравинский вежливо наклонил голову.
       - Вы здесь главный?
       Стравинский и на это поклонился, а ординаторы улыбнулись.
       - Мне с вами нужно поговорить.
       - Я к вашим услугам, - сказал Стравинский.
       - Вот что, - заговорил Иван, потирая лоб, - вчера вечером на Патриарших
  Прудах я встретился с неким таинственным гражданином, который заранее знал о
  смерти Миши Берлиоза и лично видел Понтия Пилата.
       - Пилат... Пилат... это тот, который жил при Христе? - прищурившись  на
  Ивана, спросил Стравинский.
       - Тот самый, - подтвердил Иван.
       - А кто это Миша Берлиоз? - спросил Стравинский.
       - Берлиоза не знаете? - неодобрительно сказал Иван.
       Стравинский улыбнулся виновато и сказал:
       - Фамилию композитора Берлиоза я слышал...
       Это сообщение сбило Ивана  с  толку,  потому  что  он  про  композитора
  Берлиоза не слыхал...
       Опять он потер лоб.
</p>
