/* You can add global styles to this file, and also import other style files */
body, ul, li{
    margin: 0;
    padding:0;
}
/*
________ FONTS ________
font-family: 'Lobster', cursive;
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Anton', sans-serif;    ???delete???

________ COLORS ________
green: #148F6A;

*/