<div *ngIf="input" class="item-active-box_M">
  <label class="control-title_M">{{'"' + input.itemName + '" item' | uppercase}}</label>
 
  <!-- Show reasons if any -->
  <div *ngIf="input.itemActivities && input.itemActivities.length>0; else elseItemActiveBlock">
    <p>This item is inactive for the following reasons:</p>
    <p *ngFor="let msg of input.itemActivities" class="text-danger reason-box_M">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        <span *ngIf="msg==1">Item details are missing.<a routerLink="/item-save/item-detail-save">Add details</a></span>
        <span *ngIf="msg==2">Item images are missing.<a routerLink="/item-save/item-image-save">Add images</a></span>
        <span *ngIf="msg==3">Item out of stock.</span>
    </p>
  </div>

  <!-- Otherwise allow to activate/deactivate -->
  <ng-template #elseItemActiveBlock>
    <div *ngIf="input.isItemActive">
        <p>This item can be deactivated. Click button to deactivate.</p>
        <button type="button" class="btn btn-danger">Deactivate</button>
    </div>
    <div *ngIf="!input.isItemActive">
        <p>This item can be activated. Click button to activate.</p>
        <button type="button" class="btn btn-info">Activate</button>
    </div>
  </ng-template>
  
</div>